* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*########### Header*/

#header {
  background-color: green;
  grid-column: 2/3;
}

.upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.lower {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/*########### Sidebar*/

#sidebar {
  background-color: blue;
  grid-area: 1/1/3/2;
}

/*########### Main*/

#main-content {
  background-color: yellow;
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 10px;
}

.project {
  border: 1px solid black;
}

.other {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  padding: 10px;
}

.other > div {
  border: 1px solid black;
}
